<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">      
      <ion-menu-button color="primary"
                       menu="mnuPublisher">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Mis Microempresas</ion-title>
    <ion-fab-button slot="end" size="small" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      
    </ion-item>
  </ion-list>
</ion-content>