<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">      
      <ion-menu-button color="primary"
                       menu="mnuPublisher">
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding>  
  <div id="map" #map></div>
</ion-content>

<ion-footer> 
  <ion-toolbar color="primary">     
    <ion-title align="left">
      {{ filtro }}  
    </ion-title> 
    <ion-buttons slot="end">
      <ion-button (click)="clearRoutes()">
        <ion-icon slot="icon-only" name="refresh" color="success"></ion-icon>
      </ion-button>
      <ion-button (click)="modalfilter()">
        <ion-icon slot="icon-only" name="search" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> 