<ion-header>
  <ion-toolbar>
    <ion-title>Microempresas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #fReg="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre Microempresa</ion-label>
        <ion-input
              autocomplete="off"
              name="Nombre"
              type="text"
              #Nombre_
              [(ngModel)]="iMicroempresa.Nombre"              
              required>
        </ion-input>
        <ion-icon name="list-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea 
              name="Descripcion" 
              #Descripcion_
              [(ngModel)]="iMicroempresa.Descripcion"
              clearOnEdit="true">
        </ion-textarea>
        <ion-icon name="list-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fax</ion-label>
        <ion-input 
              autocomplete="off"
              name="Fax"
              type="tel"
              #Fax_
              [(ngModel)]="iMicroempresa.Fax">
        </ion-input>        
        <ion-icon name="print-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input 
              autocomplete="off"
              name="Telefono"
              type="tel"
              #Telefono_
              [(ngModel)]="iMicroempresa.Telefono"
              required>
        </ion-input>        
        <ion-icon name="call-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Celular</ion-label>
        <ion-input 
              autocomplete="off"
              name="Celular"
              type="tel"
              #Celular_
              [(ngModel)]="iMicroempresa.Celular">
        </ion-input>
        <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input 
              autocomplete="off"
              name="Direccion"
              type="text"
              placeholder="CR. 00 #00-00"
              #Direccion_
              [(ngModel)]="iMicroempresa.Direccion"
              required>
        </ion-input>
        <ion-icon name="repeat-outline" slot="start"></ion-icon>
        <ion-button large item-end slot="end" (click)="getCoords()">
          <ion-icon name="locate-outline"></ion-icon>
        </ion-button>
        <!-- <button clear item-right slot="end">Forgot</button> -->

      </ion-item>      
      <ion-item>
        <ion-label position="floating">Latitud</ion-label>
        <ion-input 
              autocomplete="off"
              name="Latitud"
              type="text"
              readonly="true"
              #Latitud_
              [(ngModel)]="iMicroempresa.Latitud"
              required>
        </ion-input>        
        <ion-icon name="compass-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Longitud</ion-label>
        <ion-input 
              autocomplete="off"
              name="Longitud"
              type="text"              
              readonly="true"
              #Longitud_
              [(ngModel)]="iMicroempresa.Longitud"
              required>
        </ion-input>
        <ion-icon name="compass-outline" slot="start"></ion-icon>
      </ion-item>
    </ion-list>
  </form>  
  <div id="map"></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-fab-button slot="start" size="small" color="light" (click)="close()"><ion-icon name="close"></ion-icon></ion-fab-button>
      <!-- <ion-fab-button type="submit" slot="end" size="small" color="primary"><ion-icon name="save"></ion-icon></ion-fab-button> -->
      <ion-button  slot="end" [disabled]="!fReg.valid" (click)="registro(fReg)">
        <ion-icon name="save"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-footer>