<ion-slides pager="true" class="slide-full">
  <ion-slide>
    <ion-card mode="ios">
      <img src="assets/images/logo-slide.png" />
      <ion-card-header>
        <ion-card-title> ¿Quiénes somos? </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Ads Publisher es una aplicación enfocada en el mercado de microempresarios colombiano, con el fin de ayudar e incentivar el producto nacional por medio de un enfoque de marketing publicitario basado en la geolocalización con herramientas útiles y eficaces consiguiendo así el crecimiento social y económico de nuestros productos nacionales.
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card mode="ios">
      <img src="assets/images/searchproduct.png" />
      <ion-card-header>
        <ion-card-title> Busca Tu Producto </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Ads Publisher te permitirá buscar microempresas o productos por medio del nombre del producto, microempresa o podrás realizar filtros por nuestras categorías ya predefinidas para cada producto. Los resultados de tus búsquedas serán reflejadas por medio de un mapa de geolocalización mostrando allí la ubicación de tu solicitud.
      </ion-card-content>
    </ion-card>    
  </ion-slide>

  <ion-slide>
    <ion-card mode="ios">
      <img src="assets/images/PublicMicro.png" />
      <ion-card-header>
        <ion-card-title> Publica tu Microempresa </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        En Ads Publisher puedes registrar uno o mas microempresas que tengas y darlas a conocer en la localidad. Simplemente tienes que llenar un formato de registro básicos para que tu microempresa se muestre en nuestro mapa y que los demás puedan verlo y visitarlo.        
      </ion-card-content>
    </ion-card>    
  </ion-slide>

  <ion-slide>
    <ion-card mode="ios">
      <img src="assets/images/register.png" />
      <ion-card-header>
        <ion-card-title> Registra tu cuenta </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Puedes crear un perfil en nuestra app Ads Publisher y obtendrás beneficios como Calificar microempresas, obtener planes Premium, tener un historial de visitas, historial pagos y mucho mas.
      </ion-card-content>
    </ion-card>    
  </ion-slide>

</ion-slides>
