<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Paypal - Plan
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="!IsPayPal">
    <ion-item *ngFor="let item of liHistorialPagos" class="list-trans">    
      <!-- <ion-icon slot="start" name="cash"></ion-icon> -->
      <ion-grid style="width: 100%;">
        <ion-row>
          <ion-col>
            <strong>Plan: </strong> <br>
            {{ item.Titulo }}
          </ion-col>
          <ion-col>
            <strong>Descripción: </strong> <br>
            {{ item.Descripcion }}
          </ion-col>
        </ion-row>        
        <ion-row>
          <ion-col>
            <strong>Fecha Inicio: </strong> <br>
            {{ item.FechaCreacion | date: 'dd/MM/yyyy' }}
          </ion-col>
          <ion-col>
            <strong>Fecha Fin: </strong> <br>
            {{ item.FechaCulminacion | date: 'dd/MM/yyyy' }}
          </ion-col>          
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Precio:</strong> <br>
            {{ item.Valor_Pago | currency }} USD
          </ion-col>          
        </ion-row>
      </ion-grid>
      <br>     
      <!-- <hr style="border-top: 1px solid red;"/> -->
    </ion-item>
  </ion-list>
  <ion-list *ngIf="IsPayPal">
    <ion-item class="list-trans">
      <ion-card style="width: 100%;">
        <ion-img src="/assets/images/paypal.png"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Descripción del servicio</ion-card-subtitle>
          <ion-card-title>
            {{ iPlan.Titulo }}
          </ion-card-title>          
          <ion-row>
            <ion-col>
              <ul>
                <li *ngFor="let i of iPlan.ADetalle">{{ i.Descripcion }}</li>
              </ul>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Total a pagar: </strong>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="my-label">
                {{ iPlan.Precio | currency }}  USD
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="full" color="primary" (click)="payWithPaypal()">Pagar con PayPal</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>  
</ion-content>