<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons>      
      <ion-menu-button color="primary"
                      menu="mnuPublisher"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-tabs id="tabsmain">

  <ion-tab-bar slot="bottom">    
    <ion-tab-button tab="maps">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Ubicación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="microempresas" *ngIf="!Invitado">
      <ion-icon name="send"></ion-icon>
      <ion-label>Microempresas</ion-label>
    </ion-tab-button>

    
    <ion-tab-button tab="pqrs" *ngIf="!Invitado">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>PQRS</ion-label>
    </ion-tab-button>
        
  </ion-tab-bar>

</ion-tabs>