<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <!-- <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> -->
      <ion-menu-button color="primary"
                      menu="mnuPublisher"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-tabs id="tabsmain">

  <ion-tab-bar slot="bottom">    
    <ion-tab-button tab="maps">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Ubicación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="microempresas">
      <ion-icon name="send"></ion-icon>
      <ion-label>Microempresas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>